MAESTRO_JIRA_TOKEN=token_teste
MAESTRO_JIRA_USERNAME=username_teste
MAESTRO_JIRA_TENANT_NAME=tenant_name
MAESTRO_JIRA_WEBHOOK_SECRET=secret
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_DB=db
DATABASE_URL=DATABASE://maestro-user-db:maestro-password@localhost:5432
PGADMIN_EMAIL=email@example.com